#body-row {
    margin-left: 0;
    margin-right: 0;
    min-height: calc(100vh - 56px);
}

#sidebar-container{
    background-color: #333;
    padding: 0;
}

/* sidebar sizes when expanded and collapsed */
.sidebar-expanded{
    width: 230px;
}
.sidebar-collapsed{
    width: 60px;
}

/* menu item */
#sidebar-container .list-group a{
    min-height: 50px;
    color: white;
}

/* submenu item */
#sidebar-container .list-group .sidebar-submenu a{
    min-height: 45px;
    padding-left: 30px;
}
.sidebar-submenu{
    font-size: .9rem;
}

/* separators */
.sidebar-separator-title {
    background-color: #333;
    height: 25px;
}
.sidebar-separator{
    background-color: #333;
    height: 25px;
}
.logo-separator{
    background-color: #333;
    height: 60px;
}

/* closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
