/*
    Stylesheet Description:
    This defines styles used in the AllUsers view. 
    Important styles are .sortAsc and .sortDesc as they display the carets.
*/

thead th a {
    color: #495057; /* from bootstrap's styling when it's not a link */
    text-decoration: none;
}

thead th a:hover {
    color: #495057;
    text-decoration: underline;
}
