@model IEnumerable<CCSInventory.Models.ViewModels.PantryPackTransactionType>
@{
}

<div class="form-horizontal">

    <h2>Past transactions</h2>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-2">
            @await Component.InvokeAsync("PantryPackTransactions", new { inOrOut = 0 })
        </div>
    </div>
</div>
