@model IEnumerable<CCSInventory.Models.ViewModels.PantryPackTransactionType>
@{
}


<div class="form-horizontal">

 
    <h2>Outgoing Transactions</h2>

    <table>
        <tr>
            <td>Pack Type</td>
            <td>Quantity</td>
            <td>Date</td>
        </tr>

        @foreach (var t in Model)
        {
            if (t.Qty < 0)
            {
                <tr>
                    <td>@t.PackType</td>
                    <td>@t.Qty</td>
                    <td>@t.Modified</td>
                </tr>
            }
        }
    </table>
</div>