
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2>Index</h2>

    This is a PDF test

    <form method="post" asp-action="CreatePDF" class="col">
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>
