<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>CCSInventory</title>
        @*Common includes here.  Such as CSS and JS*@
        <link rel="stylesheet" href="~/_common.css"/>
        <link rel="stylesheet" asp-href-include="~/lib/twitter-bootstrap/*.min.css"/>
        <script defer="true" src="~/lib/jquery/jquery.min.js"></script>
        <script defer="true" src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
        @*Page-Specific styling: *@
        @RenderSection("includes", required: false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>
