@page
@*
    Page description:
    Help page for all things related to CCS Inventory.
    No code behind.
*@
@{
    ViewBag.Title = "CCS Inventory Help";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>This is a help page for all CCS Inventory.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Glossary</h2>
            <dl>
                <dt>Transaction</dt>
                <dd>The action of receiving or distributing a donation of items.</dd>
                <dt>Transaction Line Item</dt>
                <dd>A single item associated with a transaction. There may be more than one transaction line item per transaction.</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Technical Support</h3>
            <p>
                If you have any issues, contact the following:
            </p>
            <p>
                Richard Fry<br />
                <a href="mailto:rich@rfry.com">rich@rfry.com</a>
            </p>
        </div>
    </div>
</div>

