@page

@*
    Page description:
    Placeholder index page until the real one is done.
    In Startup.cs, this page is marked as Authorized, therefore requring login before viewing it.
*@

@{
    ViewBag.Title = "Main Menu";
}

<div class="container">
    <div class="home-nav">
        <div class="nav nav-tabs" id="home-nav-tabs" role="tablist">
            <a class="nav-item nav-link active" id="home-nav-transactions-tab" data-toggle="tab" href="#home-nav-transactions" role="tab" aria-controls="home-nav-transactions" aria-selected="true">Transactions</a>
            <a class="nav-item nav-link" id="home-nav-containers-tab" data-toggle="tab" href="#home-nav-containers" role="tab" aria-controls="home-nav-containers" aria-selected="false">Containers</a>
            <a class="nav-item nav-link" id="home-nav-manage-tab" data-toggle="tab" href="#home-nav-manage" role="tab" aria-controls="home-nav-manage" aria-selected="false">Management</a>
            <a class="nav-item nav-link" id="home-nav-reports-tab" data-toggle="tab" href="#home-nav-reports" role="tab" aria-controls="home-nav-reports" aria-selected="false">Reports</a>
        </div>
        <div class="tab-content" id="home-nav-content">
            <div class="tab-pane fade show active" id="home-nav-transactions" role="tabpanel" aria-labelledby="home-nav-transactions-tab">
                <div class="list-group m-3">
                    <a href="#" class="list-group-item list-group-item-action">Incoming Food</a>
                    <a href="#" class="list-group-item list-group-item-action">Outgoing Food</a>
                </div>
            </div>
            <div class="tab-pane fade" id="home-nav-containers" role="tabpanel" aria-labelledby="home-nav-containers-tab">
                <div class="list-group m-3">
                    <a href="#" class="list-group-item list-group-item-action">Scan</a>
                    <a href="#" class="list-group-item list-group-item-action">Locate</a>
                    <a href="#" class="list-group-item list-group-item-action">Create New</a>
                    <a href="#" class="list-group-item list-group-item-action">All Containers</a>
                </div>
            </div>
            <div class="tab-pane fade" id="home-nav-manage" role="tabpanel" aria-labelledby="home-nav-manage-tab">
                <div class="list-group m-3">
                    <a href="#" class="list-group-item list-group-item-action">Agencies</a>
                    <a href="#" class="list-group-item list-group-item-action">Audit</a>
                    <a href="#" class="list-group-item list-group-item-action">Changelog</a>
                    <a href="#" class="list-group-item list-group-item-action">Distribution Types</a>
                    <a href="#" class="list-group-item list-group-item-action">Donor</a>
                    <a href="#" class="list-group-item list-group-item-action">Food Categories</a>
                    <a href="#" class="list-group-item list-group-item-action">Locations</a>
                    <a href="#" class="list-group-item list-group-item-action">Transactions</a>
                    <a href="#" class="list-group-item list-group-item-action">Users</a>
                </div>
            </div>
            <div class="tab-pane fade" id="home-nav-reports" role="tabpanel" aria-labelledby="home-nav-reports-tab">
                <div class="list-group m-3">
                    <a href="#" class="list-group-item list-group-item-action">Incoming</a>
                    <a href="#" class="list-group-item list-group-item-action">Outgoing</a>
                    <a href="#" class="list-group-item list-group-item-action">Inventory</a>
                    <a href="#" class="list-group-item list-group-item-action">In/Out</a>
                    <a href="#" class="list-group-item list-group-item-action">Grocery Rescue</a>
                    <a href="#" class="list-group-item list-group-item-action">In-Kind Slip (Blank)</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
