@page
@using CCSInventory.Models

@*
    Page description:
    Placeholder index page until the real one is done.
    In Startup.cs, this page is marked as Authorized, therefore requring login before viewing it.
*@

@{
    ViewBag.Title = "Dashboard";
    bool isAdmin = User.FindFirst("UserRole").Value == UserRole.ADMIN.ToString();
}

@section includes {
    <link rel="stylesheet" href="~/css/dashboard.css"/>
}

<div class="text-center mb-4">
    <img alt="Catholic Community Services logo" class="largeLogo img-fluid" src="~/images/ccslogo-mainmenu.png" />
</div>
@await Component.InvokeAsync("ContainersRecent")
@await Component.InvokeAsync("TransactionsRecent")
