@page "{id}"
@model CCSInventory.Pages.Agencies.CreateModel

@{
    ViewData["Title"] = "Create Donor/Recipient";
}

<h4>New Donor/Recipient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Agency.AgencyName" class="control-label"></label>
                <input asp-for="Agency.AgencyName" class="form-control" />
                <span asp-validation-for="Agency.AgencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency.AddressID" class="control-label"></label>
                <select asp-for="Agency.AddressID" class="form-control" asp-items="ViewBag.AddressID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Agency.MailingAddressID" class="control-label"></label>
                <select asp-for="Agency.MailingAddressID" class="form-control" asp-items="ViewBag.MailingAddressID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Agency.PhoneNumber" class="control-label"></label>
                <input asp-for="Agency.PhoneNumber" class="form-control" />
                <span asp-validation-for="Agency.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency.AgencyNote" class="control-label"></label>
                <input asp-for="Agency.AgencyNote" class="form-control" />
                <span asp-validation-for="Agency.AgencyNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Agency.IsArchived" /> Agency
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Agency.CreatedDate" class="control-label"></label>
                <input asp-for="Agency.CreatedDate" class="form-control" />
                <span asp-validation-for="Agency.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency.CreatedBy" class="control-label"></label>
                <input asp-for="Agency.CreatedBy" class="form-control" />
                <span asp-validation-for="Agency.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency.ModifiedBy" class="control-label"></label>
                <input asp-for="Agency.ModifiedBy" class="form-control" />
                <span asp-validation-for="Agency.ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency.ModifiedDate" class="control-label"></label>
                <input asp-for="Agency.ModifiedDate" class="form-control" />
                <span asp-validation-for="Agency.ModifiedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Agency.Address" class="control-label"></label>
                <select asp-for="Agency.AddressID" class="form-control"/>
                    <option value="">--Select Agency--</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section includes {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
