@page
@model CCSInventory.Pages.Transactions.EditModel

@{
    ViewData["Title"] = "Edit";
}


<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transaction.TransactionID" />
            <div class="form-group">
                <label asp-for="Transaction.AgencyID" class="control-label"></label>
                <select asp-for="Transaction.AgencyID" class="form-control" asp-items="ViewBag.AgencyID"></select>
                <span asp-validation-for="Transaction.AgencyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                <label asp-for="Transaction.TransactionTypeID" class="control-label"></label>
                <select asp-for="Transaction.TransactionTypeID" class="form-control" asp-items="ViewBag.TransactionTypeID"></select>
                <span asp-validation-for="Transaction.TransactionTypeID" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Transaction.TransactionDate" class="control-label"></label>
                <input asp-for="Transaction.TransactionDate" class="form-control" disabled/>
                <span asp-validation-for="Transaction.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Transaction.IsOutgoing" /> @Html.DisplayNameFor(model => model.Transaction.IsOutgoing)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.CreatedDate" class="control-label">Created date:</label>
                <input asp-for="CbDate" class="form-control" disabled />
                <span asp-validation-for="Transaction.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.CreatedBy" class="control-label">Created by:</label>
                <input asp-for="Transaction.CreatedBy" class="form-control" />
                <span asp-validation-for="Transaction.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.ModifiedBy" class="control-label">Modified by:</label>
                <input asp-for="Transaction.ModifiedBy" class="form-control" />
                <span asp-validation-for="Transaction.ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.ModifiedDate" class="control-label">Modified date:</label>
                <input asp-for="MbDate" class="form-control" disabled/>
                <span asp-validation-for="Transaction.ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

