@page "{handler?}" // This is to get a better url for the Logout handler: /Account/Login/Logout
@model LoginModel
@using Microsoft.AspNetCore.Mvc.ModelBinding
@*
    Page description:
    As the name suggests, this is the Login page for the users.
    It presents two textboxes: one for Username and the other for Password.
    Checkbox for "Remember me" and a login button.

    Since this page is simple and contains no other elements like navbar,
    Bootstrap is too heavy for just a login page.

    There are prefetch hints in the <head> for the rest of the application.

    The PageModel for this page also handles logging out.
*@
@{
    Layout = ""; // No shared layout.  This page is self-contained.
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - CCS Inventory</title>
    <link rel="stylesheet" href="~/css/loginPage.css">
    <link rel="icon" href="~/favicon.ico">
    @* Prefetch hints for the rest of the application. Unneeded for this page, though. *@
    <link rel="prefetch" href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
    <link rel="prefetch" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="prefetch" href="~/_common.css">
    <link rel="prefetch" href="~/css/sidebar.css">
    <link rel="prefetch" href="~/lib/jquery/jquery.min.js">
    <link rel="prefetch" href="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js">
    <link rel="prefetch" href="~/scripts/sidebar.js">
</head>

<body>
    <div id="formContainer">
        <img id="logo" src="~/images/CCS_Login_logo1.png" alt="Catholic Community Services Logo" />
        <form method="post" id="signinForm">
            <label asp-for="Login.Username" class="sr-only"></label>
            <input asp-for="Login.Username" placeholder="Username" autofocus />
            <label asp-for="Login.Password" class="sr-only"></label>
            <input asp-for="Login.Password" placeholder="Password" />
            <div class="checkHolder">
                <input asp-for="PersistLogin" />
                <label asp-for="PersistLogin"></label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
            <div asp-validation-summary="All" class="validationSummary"></div>
        </form>
    </div>
</body>
</html>
